.container {
    height: 70vh;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: black;
    display: inline-block;
    width: 13rem;
    height: 24.9rem;
    border-radius: 25px;
}

table {
    margin: auto;
}
#upper_screen{
    margin: 2.5rem 0 0 0 ;
}

input {
    background-color: black;
    color: white;
    width: 12rem;
    height: 2rem;
    font-size: 22px;
    font-weight: 500;
    text-align: right;
    border-radius: 25px;
    outline: none;
    border: none;


}

td>button {
    color: white;
    background-color: #505050;
    cursor: pointer;
    text-align: center;
    width: 45px;
    height: 45px;
    margin: 4px 1px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: 500;
}

td>button:hover{
    background-color: #50505042;
}

tr>td {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    margin: 1px 1px;
}

tr>:nth-child(4)>button:hover{
    background-color: #ff950063;

}
tr>:nth-child(4)>button {
    background-color: #ff9500;
}
#tr5>:last-child>button:hover{
    background-color: #ff950079;

}
#tr5>:last-child>button {
    background-color: #ff9500;
}

#tr5>:first-child,#tr5>:first-child>button {
    width: 96px;
}

#tr1>:nth-child(1)>button,#tr1>:nth-child(2)>button,#tr1>:nth-child(3)>button{
    color: black;
    background-color: #D4D4D2;
}
#tr1>:nth-child(1)>button:hover,#tr1>:nth-child(2)>button:hover,#tr1>:nth-child(3)>button:hover{
    background-color: #505050;
}
hr {
    background-color: white;
    border: none;
    outline: none;
    width: 6rem;
    height: 2px;
    border-radius: 25px;
    margin-top: 1.5rem;
}